<form name="usernameForm" ng-submit="usernameForm.$valid && adduser(username)" ng-hide="userentered" novalidate>
  <input name="usernameInput" class="form-control" type="text" ng-model="username" required/>
  <input type="submit" value="Submit" class="btn-primary"/>
</form>
<div ng-show="userentered">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn-primary" ng-click="new()">New Game</button>
    </div>
    <div class="col-xs-6">
      <button class="btn-primary" ng-click="join(game)">Join Game</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <select class="form-control" ng-model="game" ng-options="game as game.starting for game in gamelist|filter:{starting:'!Game Over'}"></select>
    </div>
  </div>
  <div ng-repeat="game in gamelist" class="row">
    <div ng-hide="game.starting === 'Game Over'" class="col-xs-12">
      <p style="text-align:center"><b>Game:{{game.starting}}</b></p>
      <div class="row">
        <div class="col-xs-4">
          <p><b>Players:</b></p>
        </div>
        <div class="col-xs-8">
          <div ng-repeat="(key,value) in game.playerList">
            <p>{{key}}: {{value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
