<div>
  <button ng-click="gameSelector.startNewGame()">New Game</button>
  <button ng-click="gameSelector.joinGame(game)">Join Game</button>
</div>
<div>
  <select ng-model="game" ng-options="game as game.starting for game in gamelist|filter:{starting:'!Game Over'}"></select>
</div>
<div class="gameContainer">
  <div class="gamelist">
    <div class="games" ng-repeat="game in gamelist" ng-hide="game.starting === 'Game Over'">
      <div>
        <p><b>{{game.starting}}</b></p>
      </div>
      <div>
        <div>
          <p><b>Players:</b></p>
        </div>
        <div ng-repeat="(key,value) in game.playerList">
          <p>{{key}}: {{value}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
