/*************************
  Variables
**************************/
/*#da9fda*/
/*************************
  Mixins
**************************/
/*************************
  Body
**************************/
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 0; }

p, h2, h3, h4 {
  margin: 5px 0;
  padding: 0 5px;
  line-height: 1.5em; }

h3, h4 {
  border-radius: 5px;
  background: #CC7ACC;
  border: solid 5px transparent;
  color: white; }

/*************************
  Page Layout
**************************/
.page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 98%;
  justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .page {
      flex-direction: row;
      align-items: flex-start; } }

.first,
.second,
.third {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between; }

@media only screen and (min-width: 768px) {
  .first {
    max-width: 43%; } }
@media only screen and (min-width: 1024px) {
  .first {
    max-width: 25%; } }

@media only screen and (min-width: 768px) {
  .second {
    max-width: 55%; } }
@media only screen and (min-width: 1024px) {
  .second {
    max-width: 37%; } }

@media only screen and (min-width: 768px) {
  .third {
    max-width: 100%; } }
@media only screen and (min-width: 1024px) {
  .third {
    max-width: 35%; } }

username-input,
picker,
player-list,
game-stack,
game-selector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 8px; }

.usernameButton,
.selectGame,
.pickerButton,
.gamelist {
  margin-top: 8px; }

/*************************
  Username-input element
**************************/
username-input form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around; }
  username-input form > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background: #CC7ACC;
    border: solid 5px #CC7ACC;
    width: 100%; }
    username-input form > div:hover {
      border-radius: 5px;
      background: #da9fda;
      border: solid 5px #da9fda; }
  username-input form select,
  username-input form button,
  username-input form input {
    border-radius: 5px;
    background: #da9fda;
    border: solid 5px #da9fda;
    font: 20px bold;
    color: white;
    height: 40px;
    width: 100%; }
    username-input form select::-webkit-input-placeholder,
    username-input form button::-webkit-input-placeholder,
    username-input form input::-webkit-input-placeholder {
      color: white; }
    username-input form select:-moz-placeholder,
    username-input form button:-moz-placeholder,
    username-input form input:-moz-placeholder {
      color: white; }
    username-input form select::-moz-placeholder,
    username-input form button::-moz-placeholder,
    username-input form input::-moz-placeholder {
      color: white; }
    username-input form select:-ms-input-placeholder,
    username-input form button:-ms-input-placeholder,
    username-input form input:-ms-input-placeholder {
      color: white; }
    username-input form select:hover,
    username-input form button:hover,
    username-input form input:hover {
      cursor: pointer; }
  username-input form input[type="text"] {
    width: 98%; }

/*************************
  Game-selector element
**************************/
game-selector .gameButtons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  background: #CC7ACC;
  border: solid 5px #CC7ACC;
  flex-wrap: nowrap; }
  game-selector .gameButtons > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background: #CC7ACC;
    border: solid 5px #CC7ACC;
    width: 50%; }
    game-selector .gameButtons > div:hover {
      border-radius: 5px;
      background: #da9fda;
      border: solid 5px #da9fda; }
  game-selector .gameButtons select,
  game-selector .gameButtons button,
  game-selector .gameButtons input {
    border-radius: 5px;
    background: #da9fda;
    border: solid 5px #da9fda;
    font: 20px bold;
    color: white;
    height: 40px;
    width: 100%; }
    game-selector .gameButtons select::-webkit-input-placeholder,
    game-selector .gameButtons button::-webkit-input-placeholder,
    game-selector .gameButtons input::-webkit-input-placeholder {
      color: white; }
    game-selector .gameButtons select:-moz-placeholder,
    game-selector .gameButtons button:-moz-placeholder,
    game-selector .gameButtons input:-moz-placeholder {
      color: white; }
    game-selector .gameButtons select::-moz-placeholder,
    game-selector .gameButtons button::-moz-placeholder,
    game-selector .gameButtons input::-moz-placeholder {
      color: white; }
    game-selector .gameButtons select:-ms-input-placeholder,
    game-selector .gameButtons button:-ms-input-placeholder,
    game-selector .gameButtons input:-ms-input-placeholder {
      color: white; }
    game-selector .gameButtons select:hover,
    game-selector .gameButtons button:hover,
    game-selector .gameButtons input:hover {
      cursor: pointer; }
  game-selector .gameButtons input[type="text"] {
    width: 98%; }
game-selector .selectGame {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around; }
  game-selector .selectGame > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background: #CC7ACC;
    border: solid 5px #CC7ACC;
    width: 100%; }
    game-selector .selectGame > div:hover {
      border-radius: 5px;
      background: #da9fda;
      border: solid 5px #da9fda; }
  game-selector .selectGame select,
  game-selector .selectGame button,
  game-selector .selectGame input {
    border-radius: 5px;
    background: #da9fda;
    border: solid 5px #da9fda;
    font: 20px bold;
    color: white;
    height: 40px;
    width: 100%; }
    game-selector .selectGame select::-webkit-input-placeholder,
    game-selector .selectGame button::-webkit-input-placeholder,
    game-selector .selectGame input::-webkit-input-placeholder {
      color: white; }
    game-selector .selectGame select:-moz-placeholder,
    game-selector .selectGame button:-moz-placeholder,
    game-selector .selectGame input:-moz-placeholder {
      color: white; }
    game-selector .selectGame select::-moz-placeholder,
    game-selector .selectGame button::-moz-placeholder,
    game-selector .selectGame input::-moz-placeholder {
      color: white; }
    game-selector .selectGame select:-ms-input-placeholder,
    game-selector .selectGame button:-ms-input-placeholder,
    game-selector .selectGame input:-ms-input-placeholder {
      color: white; }
    game-selector .selectGame select:hover,
    game-selector .selectGame button:hover,
    game-selector .selectGame input:hover {
      cursor: pointer; }
  game-selector .selectGame input[type="text"] {
    width: 98%; }
game-selector .gamelist {
  display: flex;
  flex-flow: row wrap;
  align-items: space-around;
  width: 100%;
  justify-content: space-around;
  border-radius: 5px;
  background: #da9fda;
  border: solid 5px #CC7ACC; }
  game-selector .gamelist .games {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 42%;
    justify-content: center;
    border-radius: 5px;
    background: #CC7ACC;
    border: solid 5px #da9fda; }
    game-selector .gamelist .games > div {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      justify-content: space-around; }

/*************************
  Game-stack element
**************************/
game-stack {
  border-radius: 5px;
  background: white;
  border: solid 5px #CC7ACC; }
  game-stack .card {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background: #da9fda;
    border: solid 5px #CC7ACC;
    flex-wrap: nowrap;
    border-top: none; }
  game-stack .right {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    order: 2;
    width: auto; }
  game-stack .left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    order: 1;
    width: auto; }
  game-stack .player-label {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: center; }

/*************************
  Picker element
**************************/
picker {
  flex-wrap: nowrap; }
  picker > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 5px;
    background: #CC7ACC;
    border: solid 5px #CC7ACC;
    width: 100%; }
    picker > div:hover {
      border-radius: 5px;
      background: #da9fda;
      border: solid 5px #da9fda; }
  picker select,
  picker button,
  picker input {
    border-radius: 5px;
    background: #da9fda;
    border: solid 5px #da9fda;
    font: 20px bold;
    color: white;
    height: 40px;
    width: 100%; }
    picker select::-webkit-input-placeholder,
    picker button::-webkit-input-placeholder,
    picker input::-webkit-input-placeholder {
      color: white; }
    picker select:-moz-placeholder,
    picker button:-moz-placeholder,
    picker input:-moz-placeholder {
      color: white; }
    picker select::-moz-placeholder,
    picker button::-moz-placeholder,
    picker input::-moz-placeholder {
      color: white; }
    picker select:-ms-input-placeholder,
    picker button:-ms-input-placeholder,
    picker input:-ms-input-placeholder {
      color: white; }
    picker select:hover,
    picker button:hover,
    picker input:hover {
      cursor: pointer; }
  picker input[type="text"] {
    width: 98%; }
  @media only screen and (min-width: 768px) {
    picker {
      order: 1; } }

/*************************
  Player-list element
**************************/
player-list {
  border-radius: 5px;
  background: #da9fda;
  border: solid 5px #CC7ACC; }
  player-list .game-score {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around; }
  @media only screen and (min-width: 768px) {
    player-list {
      order: 2; } }

/*# sourceMappingURL=application.css.map */
