.container
  .row
    .col-sm-3
      include ./game/_input.jade
    .col-sm-3
      include ./game/_movieArtistStack.jade
    .col-sm-3
      include ./game/_opponent.jade
    .col-sm-3
      include ./game/_ad.jade
