/*************************
  body
**************************/

.stackImg {
  max-width: 92px;
  max-height:132px
}

/*************************
  variables
**************************/

$primary : #CC7ACC;
$secondary : lighten($primary, 10%); /*#da9fda*/

/*************************
  mixins
**************************/

@mixin flex-box($direction, $width:100%, $align:center, $justify:space-between) {
  display: flex;
  flex-flow: $direction wrap;
  align-items: $align;
  width: $width;
  justify-content: $justify;
}

@mixin borderAndBack($bg, $border) {
  border-radius: 5px;
  background: $bg;
  border: solid 5px $border;
}

@mixin selectButton($width) {
  select,
  button,
  input {
    border: solid 5px $secondary;
    border-radius: 5px;
    background: $secondary;
    height: 40px;
    width: $width;
    &:hover {
      cursor: pointer;
    }
  }
}

@mixin buttonContainer($width) {
  margin-top: 8px;
  > div {
    background: $primary;
    border: solid 5px $primary;
    border-radius: 5px;
    width: $width;
    &:hover {
      background: $secondary;
      border: solid 5px $secondary;
    }
  }
}


/*************************
  game
**************************/


username-input {
  @include flex-box(column);
  form {
    @include flex-box(column);
    @include buttonContainer(100%);
    @include selectButton(100%);
    input[type="text"] {
      border: none;
      width: 99.5%;
    }
  }
}

game-selector {
  @include flex-box(column);
  .selectGame {
    @include flex-box(column);
    @include buttonContainer(100%);
    @include selectButton(100%);
  }
  .gameButtons {
    @include flex-box(row);
    @include borderAndBack($primary, $primary);
    @include buttonContainer(50%);
    @include selectButton(100%);
    flex-wrap: nowrap;
  }
}

.gamelist {
    @include flex-box(row, 100%, stretch, space-around);
    @include borderAndBack($secondary, $primary);
    margin-top: 8px;
    padding-top: 8px;

  .games {
    @include flex-box(column, 42%, $justify:center);
    @include borderAndBack($primary, transparent);
    margin-bottom: 8px;

    > div {
      @include flex-box(row, $justify:space-around);
      color: white;
      p {
        margin: 0 0;
      }
    }
  }
}



game-stack {
  @include flex-box(column);
  @include borderAndBack(white, $primary);
  margin-top: 8px;

  .card {
    @include flex-box(row);
    @include borderAndBack($secondary, $primary);
    border-top: none;
    flex-wrap: nowrap;

    h2, p {
      padding: 0 8px;
      margin: 0 0;
    }
  }
  .right {
    @include flex-box(column, $align:flex-end);
    order: 2;
    width: auto;
  }
  .left {
    @include flex-box(column, $align:flex-start);
    order: 1;
    width: auto;
  }
  .player-label {
    @include flex-box(row, $justify:center);
    text-align: center;
  }
}

picker {
  margin-top: 8px;
  @include flex-box(column);
  flex-wrap: nowrap;
  justify-content: space-between;
  @include buttonContainer(100%);
  @include selectButton(100%);
  .topSpace {
    margin-top: 8px;
  }
  @media only screen and (min-width: 768px) {
    order: 1;
  }
}


player-list {
  @include flex-box(column);
  @include borderAndBack($secondary, $primary);
  margin-top: 8px;

  div {
    @include flex-box(row, $justify:space-around);
    margin-top: 5px;
    h3,p {
      @include borderAndBack($primary, transparent);
      color: white;
      line-height: 1.5em;
      padding-left: 2%;
      padding-right: 2%;
      margin: 0;
    }
    .names {
      margin-bottom: 5px;
    }
  }
  @media only screen and (min-width: 768px) {
    order: 2;
  }
}

body {
  @include flex-box(column);
  margin: 0 0;
}


.page {
  @include flex-box(column, 98%);
  @media only screen and (min-width: 768px) {
    @include flex-box(row, 98%, flex-start);
  }
}


.first,
.second,
.third {
  @include flex-box(column);
  @media only screen and (min-width: 768px) {
    max-width: 40%;
  }
}

.first {
  @media only screen and (min-width: 768px) {
    max-width: 43%;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 25%;
  }
}

.second {
  @media only screen and (min-width: 768px) {
    max-width: 55%;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 37%;
  }
}

.third {
  @media only screen and (min-width: 768px) {
    max-width: 100%;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 35%;
  }
}
